.InGo-solution {
    .banner-simple{
        background-image: url("../../../assets/images/products/simple.png");
        width: 80px;
        height: 80px;
        @include banner;
    }
    .banner-integrate{
        background-image: url("../../assets/images/products/integrate.png");
        width: 80px;
        height: 80px;
        @include banner;
    }
    .banner-analysis{
        background-image: url("../../assets/images/products/analysis.png");
        width: 80px;
        height: 80px;
        @include banner;
    }
}
